/** @format */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-weight: 600;
}
#header .nav-item {
	margin-left: 0.2rem;
}
#banner img {
	width: 100%;
	height: 80vh !important;
}
.sales .card img {
	width: 90% !important;
}

.owl-carousel {
	position: relative;
}

.owl-carousel .owl-nav button {
	position: absolute;
	font-size: 3rem !important;
}
.owl-carousel .owl-nav button.owl-next {
	top: 40%;
	right: -20px;
}
.owl-carousel .owl-nav button.owl-prev {
	top: 40%;
	left: -20px;
}
.owl-carousel .owl-nav button:focus {
	outline: none;
}
ul {
	list-style: none;
}
.sales .categories li {
	margin-right: 1rem;
}
.sales .categories li.active a {
	color: brown;
}
.book-detail .main-img {
	width: 70%;
}
.book-detail .extra-imgs img {
	width: 20%;
}
.book-detail .extra-imgs img:hover {
	cursor: pointer;
}

.sign-bottom {
	background-color: #333;
  color: #f2f2f2;
  padding: 2rem;
}
.sign-bottom input[type="text"] {
  width: 450px;
}
